.container{
    /*   display: flex; */
      max-width: 900px;
      outline: 2px solid red;
    /*   margin: 0 auto; */
    }
    .phone-case{
     
      display: block;
      max-width: 320px;
      height: 620px;
    /*    background-color: #ffffff; */
       padding-top: 20px;
      border-radius: 40px;
      border: 5px solid #7e7e7e;
    /*    margin: 50px auto; */
      
    }
    
    .screen{
      max-width: 285px;
      height: 470px;
      background-color: #2d2a29;
      background:linear-gradient( 200deg, #5c5a5a , #121212 60%),
         url(https://portal.kt.ua/bitrix/tools/disk/uf.php?attachedId=131248&action=show&ncc=1&x=0&y=0&width=480&height=600&signature=7958d83c8ea984a6dc678745a82efd81f34a27e9761d88211213673bad8644d8);
      margin: 10px auto;
      border: 2px solid #a49f9d;
    }
    
    .btn-phone{
      max-width: 55px;
      height: 55px;
       margin: 15px auto;
      background-color: #ffffff;
      border-radius: 50%;
       border: 3px solid #7e7e7e;
    }
    .btn-phone-2{
       max-width: 20px;
      height: 20px;
       margin: 17px auto;
      background-color: #ffffff;
      border-radius: 30%;
       border: 1px solid #7e7e7e;
    }
    
    .phone-camera-1{
      display: block;
       width: 8px;
      height: 8px;
      background-color: #1e368a;
      border-radius: 50%;
      border: 5px solid black;
      margin: 0 auto; 
    }
    .block-camera{
    
      max-width: 130px;
    
     margin: 5px auto; 
     
    }
    .phone-camera-2{
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #1e368a;
      border-radius: 50%;
      border: 5px solid black;
      
    }
    .phone-camera-3{
     display: inline-block;
      width: 67px;
      height: 9px;
      background-color: #2d2a29;
      border-radius: 30px;
      border: 3px solid #c6c6c6;
     margin-left: 12px;
      
    }
    
    .phone-case-black{
     
      display: block;
      max-width: 320px;
      height: 620px;
    /*    background-color: #ffffff; */
       padding-top: 20px;
      border-radius: 40px;
      border: 5px solid #7e7e7e;
    /*    margin: 50px auto; */
      
    }